@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <div class="vertical-registration-form">
        <p>
            Dziękujemy za potwiedzenie swojego maila. Prosimy @Html.ActionLink("Klinij w link Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
        </div>
    </div>
