
@{
    ViewBag.Title = "NotConfirmAccount";
}

<h2>@ViewBag.Title.</h2>
<div>
    <div class="vertical-registration-form">
        <p>
             Przepraszamy ale nie aktywowałeś swoje konto !
        </p>
    </div>
</div>
